body{
	overflow:hidden;
	font-family: Helvetica;
	margin-top: 3%;
	top:0;
	width: 400px;
}

div.wrapper {
	width: 100%;
	position:absolute;
	top:30%;
	margin-left:0px;
	left: 0;
}

header {
	font-size: 80px;
}
#searchbox {
	width: 200px;
}

#gmap {
	width: 200px;
	height: 200px;
}

#refresh, #change {
	float: none;
	display: table;
	margin: 10px auto;
}
.footer {
	padding: 0px;
}